/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300; 400; 500; 600; 800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --fontFamily: "Commissioner", sans-serif;
  --border-radius: 20px;
  --grad-one: linear-gradient(#e3b146, #a46c42);
  --grad-two: linear-gradient(#967c15, #e07b23);
  --grad-three: linear-gradient(#524719, #f5cd4a);
  --layout-width: 350px;
}

body {
  background: #333;
  font-family: "Poppins";
  margin: 0;
  overflow-x: hidden; /* Hide scrollbars on the x axis*/
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  margin: 0 auto;
}